@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #CD1338;
  --secondary-color: #151515;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #CD1338;
  color: var(--foreground);
  font-family: "Roboto Mono", monospace;
}

nav{
  font-family: "Lexend", sans-serif;
}

h1{
  font-family: "Lexend", sans-serif;
  font-weight: 800;
}


h2{
  font-family: "Lexend", sans-serif;
}

h3{
  font-family: "Lexend", sans-serif;
}

h4{
  font-family: "Lexend", sans-serif;
}

h5{
  font-family: "Lexend", sans-serif;
}

